	<div class="row">

			<div class="grid">

<!-- 			<video autoplay loop id="video-background" muted plays-inline>
  				<source src="../public/resources/lens.mov"> <!-- why isn't this working? -->
			</video> -->

				<div class="data">

					<!-- <div class="cameras" ng-repeat="x in cameras">

						<div ng-if="x.activeOperator == {{activeOperator}}">

							<div class=Camera>

								<div class=header>

								<h2 id=Make>{{x.Make | uppercase}}</h2>

								<h2 id=Model>{{x.Model}}</h2>

								</div>

								<div class=CameraInfo>

								<p id=Camera_Set_Location><b>Location: </b> {{x.Camera_Set_Location}} </p>

								<p id=Camera_Operator><b>Operator: </b> {{x.Camera_Operator}} </p>

								</div>

							</div>
							
						</div>

					</div> -->

				</div>
				
		</div>
		
	</div>