	<div class="row">

			<div class="grid">

				<div class="data">
					<div ng-repeat="x in cameras"> 

						<div ng-if='x.Camera_Operator == activeOperator'>

							<div class=Camera>

								<div class=header>

									<h2 id=Make>{{x.Make | uppercase}}</h2>

									<h2 id=Model>{{x.Model | uppercase}}</h2>

								</div>

								<div class=CameraInfo>

								<p id=Camera_Set_Location><b>Location: </b> {{x.Camera_Set_Location}} </p>

								<p id=Camera_Operator><b>Operator: </b> {{x.Camera_Operator}} </p>

								<button ng-click="deleteCamera()" id="delete" style="width: 100%;"  class="btn btn-default">Delete</button>

								</div>
							</div>

						</div>
								<!-- <h1>{{activeOperator}}</h1> -->
					</div>

				</div>
				
			</div>
		
	</div>