/*body { padding-top:30px; }*/

.body {
	margin: 0px 0px 0px 0px; 
	width: 100%
	height:100%;
	background-color: lightgrey;
}

.row {
	margin: 0px;
}

.grid {
/*	outline: solid;*/
	margin-top: 51px;
/*	height: 600px;*/

}

.leftbar {
	background: -webkit-linear-gradient(#535959,#404444);
	height: 100%;
	width: auto;
	float: left;
	top: 50px;
	left: 0px;
}

.grid {
	padding:0px;
}

.data {
	height: auto;
	width: auto;
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 10px; 
	margin-left: 230px;
	padding-left: 0px;
	padding-right: 0px;
}

.forms {
	margin-top: 20px;
}

.cameras {
/*	outline: solid;*/
/*	margin-left: 200px;*/
width: auto;
}

.Camera {
	height: auto;
	background-color: white;
	border-radius: 6px;
	padding: 12px 12px 12px 12px;
	margin-top: 10px; 
}

.header {
	width: auto;
}

.header h2 {
	display: inline;
}

#Make {
	font-weight: bolder;
	font-size: 40px;
	margin-top: 11px;
}
#Model {
	font-size: 40px;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:11px;
}

.CameraInfo {
	margin-top: 10px;
	margin-left: 2px;
} 

.form-control {
	border-radius: 1px;
}

/*.grid {
	background-color: lightgrey;
}*/

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: inset 20px 20px 65px 20px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
}

@media screen and (max-width:610px){

	h2#Make{
		font-size: 2em;
	}
	h2#Model {
		font-size: 2em;
	}
}

@media screen and (max-width:500px){

	h2#Make{
		font-size: 1.5em;
	}

	h2#Model {
		font-size: 1.5em;
	}

	.CameraInfo p{
		font-size: 0.8em;
	}
}

@media screen and (max-width:450px){

	h2#Make{
		font-size: 1.25em;
	}

	h2#Model {
		font-size: 1.25em;
	}

	.CameraInfo p{
		font-size: 0.8em;
	}

	.data {
		margin-left: 223px;
	}
}


@media screen and (max-width:436px){

	h2#Make{
		font-size: 1.1em;
	}

	h2#Model {
		font-size: 1.1em;
	}

	.CameraInfo p{
		font-size: 0.8em;
	}

	.data {
		margin-left: 219px;
	}
}

.navbar {
	background: -webkit-linear-gradient(10% black, black);
	border: 0px;
}

.navbar-header a {
	font-size: 2.15em;
}

button#delete {
	background: -webkit-linear-gradient(white,#535959);

}

.nav span {
	margin-left: 10px;
}
